.body { 
    margin: 5%;
    padding: center;
    background-color: rgb(254, 246, 100);
    text-align: center;
}

 .texto1{
    margin: 1%;
    padding: 25px;
    background-color: rgb(255, 149, 0);
}
.texto2{
margin: 1%;
padding: 10px;
background-color: rgb(255, 149, 0);
}
.texto3{
margin: 1%;
padding: 10px;
background-color: rgb(255, 149, 0);
}
.texto4{
margin: 1%;
padding: 10px;
background-color: rgb(255, 149, 0)
}
.texto5{
margin: 1%;
padding: 10px;
background-color: rgb(255, 149, 0)
}
