.body { 
    margin: 1%;
    padding: auto;
    background-image: url(Potal-TeleSintese-Projetado-pelo-Freepik-Campo-Agro-plantacao-cultivando-Ceu-azul-natureza-sol-nuvem-nuvens.jpg);
}
 .texto1{
    margin: 1%;
    padding: 25px;;
    background-color: rgb(242, 255, 0);
}
.texto2{
margin: 1%;
padding: 10px;
background-color: rgb(242, 255, 0);
}
.texto3{
margin: 1%;
padding: 10px;
background-color: rgb(242, 255, 0);
}
.texto4{
margin: 1%;
padding: 10px;
background-color: rgb(242, 255, 0)
}
.texto5{
margin: 1%;
padding: 10px;
background-color: rgb(242, 255, 0)
}